html {
  /* <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700" rel="stylesheet"> */
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  margin: 0;
}
.header {
  position: relative;
  top: 0;
  height: 5rem;
  background-color: #fff0f5;
}
h1 {
  display: block;
  margin: 0;
  line-height: 5rem;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: .9;
}
.p-top {
  text-align: center;
  background-image: url('images/background.png');
}
.description {
  margin: 40px auto 50px;
  padding: 10px 15px;
  width: 80vw;
  background-color: #eee;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  border-radius: 10px;
}
p {
  font-size: 14px;
}
.select-gender-area {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50vw;
}
.girl-img img,
.boy-img img {
  height: 70vh;
  filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.5));
}