<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="../main.css">
    <meta charset="utf-8">
    <title>kisekae</title>
  </head>
  <body class="p-kaekochan">
    <audio preload autoplay loop>
      <source src="/sound/play.mp3" type="audio/mp3">
    </audio>
    <div id="app">
      <div class="header">
        <a href="/index.html"><h1>きせかえゲーム！</h1></a>
      </div>
      <div class="description">
        <h1>かえこちゃん</h1>
        <p>かえこちゃんを可愛くコーディネートしよう！</p>
        <p>満点を取るとなくなったバックをゲットすることができるよ！</p>
      </div>
      <div class="parts-wrap">
        <img src="../images/girl-head.png" alt="head">
        <img :src="selectedTop.src" alt="top">
        <img :src="selectedBottom.src" alt="bottom">
        <img :src="selectedShoes.src" alt="shoes">
      </div>
      
      <h3>★選ぶ★</h3>
      <div class="select-clothes">
        <form action="kisekaetestg.php" method="post">
          <select v-model="selectedTop" @change="selectTop" name="tops">
            <option v-for="top in Tops" :value="top.id">{{ top.name }}</option>
          </select>

          <select v-model="selectedBottom" @change="selectBottom" name="bottoms"> 
            <option v-for="bottom in Bottoms" :value="bottom.id">{{ bottom.name }}</option>
          </select>

          <select v-model="selectedShoes" @change="selectShoes" name="Shoes"> 
            <option v-for="shoes in Shoes" :value="shoes.id">{{ shoes.name }}</option>
          </select>

          <div class="select-clothes-button">
            <input type="submit"name="submit" value="これにする！" class="submit-button">
          </div>
        </form>
      </div>
    </div>
  <!-- ↓Vue.js の読み込み -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script type="module">
    // データの読み込み
    import { TOPS, BOTTOMS, SHOES } from "../data/kaekochanData.js";
    new Vue({
      el: '#app',
      data: {
        selectedTop: TOPS[0], // 初期値
        selectedBottom:  BOTTOMS[0], // 初期値
        selectedShoes: SHOES[0], // 初期値
      },
      computed: {
        Tops: function () {
          return TOPS;
        },
        Bottoms: function () {
          return BOTTOMS;
        },
        Shoes: function () {
          return SHOES;
        },
      },
      methods: {
        selectTop: function() {
          for (var i = 0; i < TOPS.length; i++) {
            if( TOPS[i].id === this.selectedTop) {
              this.selectedTop = TOPS[i];
            }
          }
        },
        selectBottom: function() {
          for (var i = 0; i < BOTTOMS.length; i++) {
            if( BOTTOMS[i].id === this.selectedBottom) {
              this.selectedBottom = BOTTOMS[i];
            }
          }
        },
        selectShoes: function() {
          for (var i = 0; i < SHOES.length; i++) {
            if( SHOES[i].id === this.selectedShoes) {
              this.selectedShoes = SHOES[i];
            }
          }
        },
      },
    });
  </script>
</body> 
</html>
